* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.container {
	width: 100%;
	display: block;
	position: relative;
}

.container::after {
	content: '';
	background: url(https://images.unsplash.com/photo-1447433693259-c8549e937d62?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60)
		no-repeat center/cover;
	opacity: 0.5;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: absolute;
	z-index: -1;
}

.container #title {
	text-align: center;
	padding: 20px;
	margin-bottom: 0;
	font-size: 1.5rem;
	color: rgb(17, 11, 1);
	font-weight: bold;
}

.container #description {
	text-align: center;
	margin-top: 0;
	font-size: 1.2rem;
	color: rgb(17, 11, 1);
	padding-bottom: 15px;
}

#survey-form {
	width: 700px;
	background: rgba(33, 1412, 111, 0.8);
	margin: 0 auto;
	padding: 20px;
	font-size: 1.2rem;
	border-radius: 10px;
}

#name,
#email,
#number,
#dropdown {
	width: 100%;
	height: 30px;
	border-radius: 10px;
	padding-left: 10px;
	font-size: .9rem;
	margin: 15px 0px;
}

#name-label,
#email-label,
#number-label {
	padding: 4px;
}

.dropdown p {
	color: black;
	text-align: left;
	padding: 0;
}

.radio {
	padding-bottom: 15px;
}

.radio p {
	color: black;
	padding-bottom: 15px;
	text-align: left;
}

.checkbox {
	padding-bottom: 15px;
}

.checkbox p {
	padding-bottom: 15px;
}

.textarea textarea {
	width: 100%;
	height: 130px;
}

textarea {
	padding-left: 10px;
	font-size: 1rem;
	border-radius: 10p;
}

#textarea {
	padding-top: 10px;
}

.textarea p {
	padding-bottom: 15px;
}

.submit input {
	width: 100%;
	height: 50px;
	font-size: .9rem;
	background: orange;
	color: #333;
	margin: 15px 0px;
	padding-top: 10px;
	text-align: center;
}
